<% if logged_in? %>
  <script id='bootstrap-current-user' type='text/javascript'>
    window.currentUser = <%= render('api/users/user.json.jbuilder',
      user: current_user).html_safe %>
  </script>
<% end %>

<script type='text/javascript'>
  window.images = {
    logo_dark: '<%= asset_path('501px_logo_dark.png') %>',
    logo_light: '<%= asset_path('501px_logo_light.png') %>',
    background: '<%= asset_path('background.jpg') %>',
    avatar: '<%= asset_path('avatar.png') %>',
    upload_img: '<%= asset_path('upload-img.png') %>',
    white_heart: '<%= asset_path('heart.png') %>',
    solid_heart: '<%= asset_path('solid-heart.png') %>'
  }
</script>

<div id='root'></div>
